<section
  class="m-4 items-center justify-center text-secondary-900 space-y-6 pb-8 pt-6 dark:text-secondary-100 md:pt-10 lg:pt-32"
>
  <div class="container flex max-w-7xl flex-col m-auto items-center gap-4 text-center">
    <h1 class="text-center font-bold text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
      {{@site.title}}
    </h1>

    <p class="max-w-2xl leading-normal py-4 text-secondary-700 dark:text-secondary-300 sm:text-xl sm:leading-8 card-excerpt">
      {{@site.description}}
    </p>
  </div>

  <div class="flex items-center justify-center">
    <button class="py-2 px-4 md:py-4 md:px-6 btn-gradient" type="button">
      <a href="/signin">Join now - It's free</a>
    </button>
  </div>

</section>