{{> blur }}
<section
  class="m-4 items-center justify-center text-secondary-900 space-y-6 pb-8 pt-6 dark:text-secondary-100 md:pt-10 lg:pt-32"
>
  <div class="container flex max-w-7xl flex-col items-center gap-4 text-center">
    <h1
      class="text-center font-bold text-4xl sm:text-5xl md:text-6xl lg:text-7xl"
    >Hello 👋, we are Porto, exploring
      <span class="text-gradient">fashion</span>,
      <span class="text-gradient">lifestyle</span>
      and
      <span class="text-gradient">health</span>.</h1>

    <p
      class="max-w-2xl leading-normal py-4 text-secondary-700 dark:text-secondary-300 sm:text-xl sm:leading-8"
    >Introducing a modern and sleek theme for Ghost. Perfect for magazine,
      newsletter, professional and personal blog publishing.</p>
  </div>

  <div class="flex items-center justify-center">
    <button class="py-2 px-4 md:py-4 md:px-6 btn-gradient" type="button"><a href="/signin">Join
      now - It's free</a></button>
  </div>

</section>