<ul class="text-gray-500 dark:text-gray-400 font-medium">
          {{#foreach navigation type="secondary"}}
          <li class="mb-4">
            <a href="{{url}}" class="hover:underline">{{label}}</a>
          </li>
          {{/foreach}}
        </ul>