<div
  class="my-20 mx-auto max-w-7xl bg-transparent rounded-2xl px-4 border border-dotted dark:border-secondary-800 hover-glow"
>
  <div class="mx-auto py-8 items-center justify-center lg:flex">
    <div class="flex mx-auto flex-col max-lg:items-center lg:text-left p-8">
      <h2
        class="text-4xl font-bold max-md:text-center lg:textleft tracking-tight dark:text-secondary-300 text-secondary-900"
      >Sign up for our newsletter</h2>
      <p
        class="mt-3 items-center max-md:text-center text-base text-secondary-900 dark:text-secondary-400 lg:max-w-lg card-excerpt"
      >
        Don't miss anything. Get all the latest posts delivered to your inbox.
        No spam!
      </p>
    </div>
    <div
      class="my-8 max-w-md mx-auto bg-transparent backdrop-blur-lg border dark:border-secondary-800 border-dotted rounded-2xl p-8">
      <form method="post" class="space-y-3">
        <label for="name" class="sr-only">Name</label>
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="name"
          type="name"
          autocomplete="name"
          class="w-full card-excerpt rounded-lg border border-dotted border-secondary-400 dark:border-secondary-800 px-4 py-3 dark:bg-transparent/10 placeholder-secondary-500 focus:outline-none focus:ring-2 focus:ring-secondary-500 focus:ring-offset focus:ring-offset-secondary-700"
          placeholder="Your name"
        />
        <input
          id="email-address"
          type="email"
          autocomplete="email"
          class="w-full card-excerpt rounded-lg border border-dotted border-secondary-400 px-4 py-3 dark:border-secondary-800 dark:bg-transparent/10 placeholder-secondary-500 focus:outline-none focus:ring-2 focus:ring-secondary-500 focus:ring-offset focus:ring-offset-secondary-700"
          placeholder="Your email"
        />
        <input
          type="checkbox"
          value="1"
          class="hidden"
          tabindex="-1"
          autocomplete="off"
        />
        <button
          type="submit"
          class="flex w-full card-excerpt items-center border-none justify-center rounded-lg border btn-gradient-2 py-3 text-base font-medium text-secondary-100 hover:bg-zinc-900 focus:outline-none focus:ring-2 focus:ring-primary-100 focus:ring-offset-2 focus:ring-offset-primary-700"
        >Subscribe</button>
      </form>
    </div>
  </div>
</div>
<hr class="border-t border-dotted border-secondary-400 my-8 dark:border-secondary-800">

