{{!< default}}

<section class="bg-transparent">
    <div class="container flex justify-center min-h-screen max-w-7xl mx-auto mt-56 card-excerpt">
        <div class="w-full ">
            <div class="flex flex-col items-center max-w-lg mx-auto text-center hover-glow p-5 rounded-lg border border-dotted  dark:border-slate-800">
                <p class="text-sm font-medium text-primary">404 Not Found</p>
                <h1 class="mt-3 text-2xl font-semibold text-slate-900 dark:text-slate-400 md:text-3xl">We lost this page</h1>
                <p class="mt-4 text-slate-900 dark:text-slate-400 text-base">We searched high and low, but couldn’t find what you’re looking for.Let’s find a better place for you to go.</p>

                <div class="flex items-center w-full mt-6 gap-x-3 shrink-0 sm:w-auto">
                    <a href="#" onclick="history.back(); return false;">
                    <button class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-full dark:text-gray-200 gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:border-gray-700">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:rotate-180">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                        </svg>
                        <span>Go back</span>
                    </button>
                    </a>
                    <a href="/">
                    <button class="w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200  rounded-lg shrink-0 sm:w-auto  btn-gradient">
                        Take me home!
                    </button>
                    </a>
                </div>
            </div>
            <h1 class="h1 text-slate-900 dark:text-slate-400 justify-center text-center card-excerpt my-24">Recent Posts</h1>
            <hr class="border-t border-dotted  my-8 dark:border-gray-800">
            <div class="mx-auto grid justify-center gap-8 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mt-32">
                    {{#get "posts" include="tags,authors,tiers" limit="3"}}
                    {{#if posts}}
                    {{#foreach posts}}
                        {{> postCard }}
                    {{/foreach}}
                </div>
                {{/if}}
                {{/get}}
        </div>
    </div>
</section>