{{!< default}}
<main class="items-center justify-center">
{{> hero}}
{{> image-slider}}
<section class="max-w-7xl mx-auto">
<div class="mx-auto my-20 grid justify-center gap-4 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
{{#foreach posts}}
    {{> postCard }}
{{/foreach}}
</div>
  </section>
  {{ pagination}}
  {{> popular_tags}}
</main>








