{{!< default}}
<main class="items-center justify-center">
{{> hero}}
{{> image-slider}}

<h1 class=" mt-24 text-4xl text-center font-extrabold leading-none tracking-tight text-slate-900 md:text-lg lg:text-lg dark:text-slate-300">
      All Posts
</h1>
<section class="max-w-7xl mx-auto mb-16 p-8">
    <div class="mx-auto grid justify-center gap-8 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
      {{#foreach posts}}
          {{> postCard }}
      {{/foreach}}
    </div>
</section>
  {{ pagination}}
  {{> popular_tags}}
</main>








