{{!< default }}
{{#if @member}}
<div
    class="mx-auto max-w-7xl rounded-lg border border-dotted bg-transparent px-5 py-10 dark:border-slate-800 sm:py-20 card-excerpt">
    <div class="mx-auto max-w-[490px]">
        <img src="{{asset 'svg/illustration-02.svg'}}" alt="illustration">

        <div class="mt-7.5 text-center">
            <h2 class="mb-3 text-3xl font-bold text-black dark:text-white">
                Welcome aboard!
            </h2>
            <p class="font-medium mb-4">
                Thank you for becoming a member,
                I am sure we are going to have a blast together!
            </p>
            <a href="/account"
                class="mt-7.5 inline-flex items-center gap-2 btn-gradient px-6 py-3 font-medium text-white">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                <span>Account</span>
            </a>
        </div>
    </div>
    </div>
    {{else}}
    <script>window.location = '{{@site.url}}/signin/';</script>
    {{/if}}
    

    {{!-- show page only if signed in --}}