@tailwind base;
@tailwind components;
@tailwind utilities;

.kg-width-wide,
.kg-content-wide > div {
    grid-column: wide-start / wide-end;
}

.kg-width-full {
    grid-column: full-start / full-end;
    @apply w-full rounded-lg;
}

.kg-width-full img {
    width: 100%;
}

.display-none {
  @apply hidden;
}

.text-gradient {
  @apply bg-gradient-to-r from-primary-950 via-primary-700 to-primary-400 bg-clip-text text-transparent;
}

.btn-gradient {
  @apply bg-gradient-to-br from-primary-950 via-primary-700 to-primary-400 rounded-full font-bold text-white;
}
